body {
    background-color: rgb(68, 68, 68);
}
#top h1 {
    color: white;
    text-align: center;
}
#rules {
    margin-top: 100px;
}
#rules h3, p {
    color: white;
    text-align: center;
}
#fota1 {
    width: 200px;
}
#fota2 {
    width: 200px;
}
#warrior h2 {
    color: white;
}
#warrior {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#chose div {
    border: 5px double black;
    width: 150px;
    height: 150px;
}
#chose img {
    width: 150px;
    height: 150px;
}
#chose {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
#winner h1 {
    text-align: center;
    color: gold;
}
#win {
    border: 5px double gold;
    width: 300px;
    height: 300px;
    
}
#winner div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#winner img {
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}
